{% extends "partials/base.html" %}
{%load humanize %}
{% block title %} Attendees {% endblock %}

{% block content %}

<main id="main" class="main">
    

    <div class="pagetitle">
      <h1>Attendees</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Admin</a></li>
          <li class="breadcrumb-item"><a href="{% url 'attendance_list' attendance.course.id %}">Attendance</a></li>
          <li class="breadcrumb-item">{{attendance.course.name}}</li>
          <li class="breadcrumb-item active">Day {{attendance.day_number}}</li>

        </ol>
      </nav>
    </div><!-- End Page Title -->


        <div class="card">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                <i class="bi bi-person-plus-fill" ></i> Add Student

            </button>
            <div class="modal fade" id="verticalycentered" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Student</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method='POST' action="{% url 'attendee_create' attendance.id %}">
                                {% csrf_token %}
                                <label for='daynumber'>Reg_Number</label>
                                <input class="form-control" id='regnumber'  type="numeric" name="regnumber" required minlength='10' maxlength="10">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- End Vertically centered Modal -->
        </div>


    <!-- Messages section -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible small" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <!-- Message ends -->

    

{% if attendee %}
<section class="section">
  <div class="row">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title"> {{attendance.course}} - DAY {{attendance.day_number}} </h5>

          <!-- Table with stripped rows -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Regnumber</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
            {% for student in attendee %}
              <tr>
                <th scope="row">1</th>
                <td>{{student.user.username}}</td>
                <td>{{student.user.first_name|title}}</td>
                <td> {{student.signed_time|naturalday}} </td>
                <td><a href="{% url 'attendee_delete' student.id %}"><i class="bi bi-trash-fill"></i></a></td>

              </tr>
            {% endfor %}
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>
    </div>
  </div>
</div>

    {%endif%}
      

{% endblock %}
