{% extends "partials/base.html" %}

{% block title %} Attendance {% endblock %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Courses</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Admin</a></li>
          <li class="breadcrumb-item"><a href="{% url 'course_list' %}">Courses</a></li>
          <li class="breadcrumb-item active">{{course.name}}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="card">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
            Create Attendance
        </button>
        <div class="modal fade" id="verticalycentered" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Session</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method='POST' action="{% url 'attendance_create' course.id %}">
                            {% csrf_token %}
                            <label for='daynumber'>Day_Number</label>
                            <input class="form-control" id='daynumber' type="number" name="daynumber" required maxlength="3">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- End Vertically centered Modal -->
    </div>

    <!-- Messages section -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible small" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <!-- Message ends -->

    <section class="section dashboard">
        <!-- Courses section -->
        {% if attendances %}
        {% for attendance in attendances %}
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-list"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                   {%if attendance.active %}
                                    <li><a href="{% url 'attendance_deactivate' attendance.id %}"><button class="dropdown-item" href="#"><i class="bi bi-wifi-off"></i>Deactivate</button></a></li>
                                    <li><a href="{% url 'attendance_deactivate' attendance.id %}"><button class="dropdown-item" href="#"><i class="bi bi-person-plus-fill"></i>add user</button></a></li>
                                    <li><a href="{% url 'attendance_deactivate' attendance.id %}"><button class="dropdown-item" href="#"><i class="bi bi-check"></i>Check In</button></a></li>

                                   {% else %}
                                   <li><a href="{% url 'attendance_activate' attendance.id %}"><button class="dropdown-item" href="#"><i class="bi bi-wifi"></i>Activate</button></a></li>

                                   <li><a href="{% url 'attendance_delete' attendance.id %}"<button class="dropdown-item" href="#"><i class="bi bi-trash-fill"></i>delete</button></a></li>
                                  {%endif%}
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-people-fill"></i> <span>{{attendance.total_attendees}}</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        {%if attendance.active%}
                                        <i class=" bi-wifi"></i>
                                        {% else %}
                                        <i class=" bi-wifi-off"></i>
                                        {%endif%}
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{course.name}}</h6>
                                        <span class="text-success small pt-1 fw-bold">Day {{attendance.day_number}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Sales Card -->
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h6>No Registered Attendance!</h6>
        {% endif %}
        <!-- Message ends -->
    </section>
</main><!-- End #main -->


{% endblock %}
