{% extends "partials/base.html" %}
{%load humanize %}
{% block title %} Attendees {% endblock %}

{% block content %}

<main id="main" class="main">
    

    <div class="pagetitle">
      <h1>Attendees</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Admin</a></li>
          <li class="breadcrumb-item"><a href="{% url 'attendance_list' attendance.id %}">Attendance</a></li>
          <li class="breadcrumb-item">{{attendance.course.name}}</li>
          <li class="breadcrumb-item active">{{attendance.day_number}}</li>

        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="card">

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addstudent">
            <i class="bi bi-person-plus-fill" ></i> Add Student
        </button>


        <div class="modal card fade" id="addstudent" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Student</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method='POST' action="#">
                            {% csrf_token %}
                            <label for='daynumber'>Reg_Number</label>
                            <input class="form-control" id='regnumber'  type="numeric" name="daynumber" required minlength='10' maxlength="10">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- End Vertically centered Modal -->

        <div class="modal card fade" id="removestudent" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Remove Student</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method='POST' action="#">
                            {% csrf_token %}
                            <label for='daynumber'>Reg_Number</label>
                            <input class="form-control" id='regnumber'  type="numeric" name="daynumber" required minlength='10' maxlength="10">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- End Vertically centered Modal -->
    </div>

    <!-- Messages section -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible small" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <!-- Message ends -->

    

{% if attendee %}
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Table with stripped rows</h5>

          <!-- Table with stripped rows -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Regnumber</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Start Date</th>
              </tr>
            </thead>
            <tbody>
            {% for student in attendee %}
              <tr>
                <th scope="row">1</th>
                <td>Brandon Jacob</td>
                <td>Designer</td>
                <td>28</td>
                <td>2016-05-25</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <!-- End Table with stripped rows -->

        </div>
      </div>
    {%endif%}
      

{% endblock %}
