{% extends "partials/base.html" %}

{% block title %} Dashboard {% endblock %}
{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Student</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

    <section class="section dashboard">
        <hr> Active Attendance
        <!-- Courses section -->
        {% if attendances %}

        {% for attendance in attendances %}
        <div class="row ">
            <!-- Left side columns -->
            <div class="col-lg-8 col-xxl-2">
                <div class="row">
                    <!-- Sales Card -->
                    <div class="col-xxl-3 col-md-6 ">
                        <div class="card  info-card sales-card">
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-list"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                   

                                    {%if request.user in attendance.user %}
                                    <li><a href="{% url 'dashboard'  %}"><button class="dropdown-item" href="#"><i class="bi bi-check2-all "></i> Already Signed</button></a></li>
                                    {%else%}
                                    <li><a href="{% url 'dashboard'  %}"><button class="dropdown-item" href="#"><i class="bi bi-pen"></i> Check in</button></a></li>
                                    {%endif%}

                                    <li><a href="{% url 'dashboard'  %}"><button class="dropdown-item" href="#"><i class="bi bi-person-plus"></i>Ref Sign</button></a></li>

                                  
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><i class="bi bi-people-fill"></i> <span>{{attendance.total_attendees}}  <span style='color:#012970; padding-left:11px; font-size:12px;'>
                                    <i class='bi bi-clock-fill'></i><span style='color:#899bbd; padding-left:11px; font-size:12px;'>{{attendance.start_date}} at {{attendance.start_time}} </span></span> </span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-wifi"></i>

                                    </div>
                                    <div class="ps-3">
                                        <h6><a href="{% url 'dashboard' %}">{{attendance.course}} </a></h6>
                                        <span class="text-success small pt-1 fw-bold">Day {{attendance.day_number }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Sales Card -->
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h6>No Active Attendance!</h6>
        <hr>
        {% endif %}
        <!-- Message ends -->
    </section>
</main><!-- End #main -->


{% endblock %}
