{% extends "partials/base.html" %}
{%load static %}
{% block title %} Development {% endblock %}

{% block content %}

  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>504</h1>
        <h2>Module Still in Development! check back later.</h2>
        <a class="btn" href="{%url 'dashboard'%}">Back to home</a>
        <img src="{% static 'assets/img/dev.png' %}" class="img-fluid py-5" alt="Page Not Found">

      </section>

    </div>
  </main><!-- End #main -->

  {% endblock %}