{% extends "partials/base.html" %}

{% block title %} Student Profile {% endblock %}
{% load static %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Student</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            
            {% if sex %}
            <img src="{% static 'assets/img/male.jpg' %}" alt="Profile" class="rounded-circle">
            {% else %}
            <img src="{% static 'assets/img/female.jpg' %}" alt="Profile" class="rounded-circle">
            {%endif%}            

            <h2>{{request.user.first_name}} {{request.user.last_name}}</h2>
            <h3>-Student</h3>
            
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

              <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Overview</button>
              </li>


            </ul>
            <div class="tab-content pt-2">

              <div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">
                
                

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{request.user.first_name}} {{request.user.last_name}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Reg Number</div>
                  <div class="col-lg-9 col-md-8">{{request.user.username}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Auth Code</div>
                  <div class="col-lg-9 col-md-8">{{student.auth_code}}</div>
                </div>

                

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{student.phone}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{request.user.email}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Birth Date</div>
                  <div class="col-lg-9 col-md-8">{{student.birth_date}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Admin</div>
                  <div class="col-lg-9 col-md-8">{{student.admin}}</div>
                </div>

              </div>

            </div>

              
          </div>
        </div>

      </div>
    </div>
  </section>

</main>

  {% endblock %}
